.card {
    display: flex;
    flex-flow: column;

    border-radius: 6px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);

    padding: 24px 21px 24px 25px;
    gap: 8px;
}

.row {
    display: flex;
    flex-flow: row;
}
.star {
    margin-top: -4px;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.title {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}

.time {
    display: flex;
    flex-flow: row;
    gap: 26px;
    color: #858997;
	font-size: 14px;
    white-space: nowrap;
}

.time > div {
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-items: center;
}

.footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    gap: 40px;
}

.text {
    color: #474A59;
    font-size: 14px;
    text-transform: none;

    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

.actions {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 12px;
    font-size: 12px;
}

.edit {
    width: 60px;
    height: 24px;
}

.delete {
    width: 72px;
    height: 24px;
}

.loadMore {
    text-align: center;
    margin-top: 24px;
    border-radius: 6px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);
    padding: 6px 0;
    cursor: pointer;
}

.loadMore-button {
	text-decoration: underline;
    color: #5681EE;
	font-size: 12px;
}

