<div class="container">
    <div class="search-form">
        <input class="search-input base--input" 
            placeholder="Type to search" 
            [(ngModel)]="searchText" 
            (input)="filterByName()"
            alt="">
        <button class="search-button active--button">Search</button>
    </div>
    <div class="base-button">
        <app-base-button imgSrc="assets/add.png" name="Add course" [routerLink]="['/TestForNow']"></app-base-button>
    </div>
    <div class="list" *ngIf="data.length > 0; else noData">
        <app-card *ngFor="let card of data | orderBy: 'creationDate' : 'desc'; trackBy: trackCoursesById; 
            let last = last" [data]="card" [last]="last" 
            (delete)="deleteCourse($event)"
            >
        </app-card>
    </div>
    <ng-template #noData>
        <strong>No courses, Yet!</strong>
    </ng-template>

</div>